/{
   keymap{
	compatible = "zmk,keymap";
	
	default_layer {
		bindings = <
			&kp `     &kp Q   &kp W    &kp E   &kp R
			&kp TAB   &kp A   &kp S    &kp D   &kp F
			&kp LSHFT &kp G   &kp C    &kp X   &kp SPACE
			&kp LCTRL &kp M   &kp LALT &kp Z   &kp V
			&kp 1 	  &kp 2   &kp 3    &none   &none
			>;
		};
	};
};
			
			
